* {
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    width: 100vw;
}
    

.container-fluid {
    width: 100%;
    margin-left: -999px;
    padding: 0;
}
canvas   {
    background-color: #000;
    
}
.container {
    margin: auto;
    width: 10%;
    padding: 10px 0 50px 0;
}

#congrats, .firstSet, .secondSet, .thirdSet, .fourthSet {
    margin-top: 50px;
    text-align: center;
    font-family: 'Grandstander', 'cursive';
}

 .btn-lg{
    margin-left: 33%;
    width: 25%;
}
.container {
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item, .grid-item-2, .grid-item-3, .grid-item-4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
     font-family: 'Grandstander', cursive;
  }

  /* media screens */
  @media only screen and (max-width: 600px) {
    .grid-container {
      /* background-color: #fff; */
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #2196F3;
      padding: 10px;
    }
    .buttons  {
        position: absolute;
       margin: auto;
       width: 100%;
    }
    .button-one {
       width: 80%;
       display: grid;
       align-items: center;
       justify-content: center;
       margin: 0 8%;
    }
       
        
        
  }
  
 
    
  
    
    